@charset 'UTF-8'

@font-face 
    font-family 'icon'
    font-style normal
    font-weight normal
    src url('~@/assets/font/icons/icon.eot')
    src url('~@/assets/font/icons/icon.eot?#iefix') format('embedded-opentype'),
        url('~@/assets/font/icons/icon.woff') format('woff'),
        url('~@/assets/font/icons/icon.ttf') format('truetype'),
        url('~@/assets/font/icons/icon.svg#icon') format('svg')



[data-icon]:before 
    font-family 'icon' !important
    content attr(data-icon)
    font-style normal !important
    font-weight normal !important
    font-variant normal !important
    text-transform none !important
    speak none
    line-height 1
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale


[class^='icon-']:before,
[class*=' icon-']:before 
    font-family 'icon' !important
    font-style normal !important
    font-weight normal !important
    font-variant normal !important
    text-transform none !important
    speak none
    line-height 1
    -webkit-font-smoothing antialiased


.icon-cart:before 
    content '\61'

.icon-allForHome:before 
    content '\62'

.icon-softFurniture:before 
    content '\63'

.icon-guestRoom:before 
    content '\64'

.icon-bedrooms:before 
    content '\66'

.icon-childsFurniture:before 
    content '\67'

.icon-homeOffice:before 
    content '\68'

.icon-visitors:before 
    content '\69'

.icon-cupboard:before 
    content '\6a'

.icon-commodes:before 
    content '\6b'

.icon-homeProducts:before 
    content '\6c'

.icon-filter:before 
    content '\6d'

.icon-kitchen:before 
    content '\65'

.icon-search:before 
    content '\6e'

.icon-piggy-bank:before 
    content '\6f'

.icon-angle-up:before
    content '\70'

.icon-trash:before
    content '\71'

.icon-angle-down:before
    content '\72'

.icon-map-marker:before
    content '\73'

